@import url("https://fonts.googleapis.com/css2?family=Flow+Circular&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 398px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .container {
    width: 896px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1184px;
  }
}

.list {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
}

.box {
  height: 100px;
  width: 100px;
  background-color: red;
  padding: 20px;
  -webkit-box-shadow: 10px 10px lightblue;
          box-shadow: 10px 10px lightblue;
  border-radius: 100px;
}