@import "./utils/normalize";
@import "./utils/fonts";
@import "./utils/variable";
@import "./utils/colors";
@import "./components/base";
@import "./utils/placeholders";
@import "./utils/mixin";

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
}

.box {
  height: 100px;
  width: 100px;
  background-color: red;
}

@each $name, $box-shadow, $padding, $border-radius in $small, $medium, $large {
  .box--#{$name} {
    @include card($box-shadow, $padding, $border-radius);
  }
}

.theme {
  width: 200px;
  height: 200px;
  background-color: black;
}

// @each $name in (light, dark, sepia) {
//   .theme--#{$name} {
//     background-color: red;
//     @include theme($theme);
//   }
// }

// light, dark, sepia
