@import "./utils/normalize";
@import "./utils/fonts";
@import "./utils/variable";
@import "./utils/colors";
@import "./components/base";
@import "./utils/placeholders";
@import "./utils/mixin";

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  margin-bottom: 50px;
}

.box {
  height: 100px;
  width: 100px;
  background-color: red;

  // --------------------------??????????????????????-----------------------------------

  @include responsive-margin(10px, mobile);

  @media (min-width: 1024px) {
    @include responsive-margin(20px, tablet);
  }

  @media (min-width: 1440px) {
    @include responsive-margin(30px, desktop);
  }

  // ----------------------????????????????????????????------------------------------
}

@each $name, $box-shadow, $padding, $border-radius in $small, $medium, $large {
  .box--#{$name} {
    @include card($box-shadow, $padding, $border-radius);
  }
}

.theme {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  font-size: 30px;
}

@each $theme-name, $theme-values in $themes {
  .theme--#{$theme-name} {
    background-color: map-get($theme-values, "background");
    color: map-get($theme-values, "text");
  }
}

@each $font-name, $font-values in $font-sizes {
  .font-size--#{$font-name} {
    font-size: $font-values;
    @include size($font-values);
  }
}

.border {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 80px;
  border: 1px black solid;
}

@each $color-name, $color-values in $colors {
  .border--#{$color-name} {
    @include border($color-values);
  }
}
