@mixin card($box-shadow, $padding, $border-radius) {
  padding: $padding;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

@mixin responsive-margin($margin, $device) {
  @if ($device == "mobile") {
    margin: $margin;
  }
  @if ($device == "tablet") {
    margin: $margin;
  }
  @if ($device == "desktop") {
    margin: $margin;
  }
}

@mixin size($font-size) {
  line-height: $font-size * 1.5;
}

@mixin border($color) {
  border: 10px solid $color;
}
